.bg{
  background-color: #038F45 !important;
}
.color{
  color: #038F45 !important;
  font-weight: bold;
}
.nav-link{
  color: black !important ;
  font-weight: bold;
}
.p-tb{
  padding: 60px 0;
}
video{
  width: 100%;
}

/* navbar */
.logo{
  width: 140px !important;
}